
header, main, footer {
  padding-left: 300px;
}

h4
{
  color: white;
}

li p {
  margin: 0;
}

div.nav-wrapper
{
  background-color: #01579b;
}

.side-nav a
{
  padding: 0 15px;
}

ul .row {
  margin-bottom: 5px;
}

.row.tag-row{
  margin-bottom: 0;
}

#all
{
  margin-top: 5%;
}

#completed, #all
{
  border-radius: 8px !important;
  border: 1px solid black;
}

#all label {
  color: #000;
}


#date
{
  color: white;
}

#rate-string
{
  color: white;
}

@media only screen and (max-width : 992px)
{
  header, main, footer {
    padding-left: 0;
  }
